#menu ul{ 
margin: 0; 
padding: 0; 
list-style: none; 
}
#menu li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}
#menu li a{
display: block; 
border-left: 8px solid #C97556;
background-color: #474655;
padding: 3px 10px;
text-decoration: none;
color: #E1E2CF;
width: 172px; 
height: 20px;
margin: 1px 0px;
text-align: left;
font-size: 17px;
}
#menu li a:hover{
border-left: 8px solid #990033;
background-color: #474655;
}
#container {
width:800px;
margin-left:auto;
margin-right:auto;
text-alingn:center;
}
#wrapper {
 width:66%;
 float:left;
}

#boxD {
 width:34%;
 float:right;
}

#boxE {
 width:100%;
 clear:both;
}
#boxB {
 width:50%;
 float:right;
}

#boxC {
 width:50%;
 float:left;
}

#wrapper p{
margin:5px;
}
#boxD p{
margin:5px;
}
#boxE {
 width:100%;
 clear:both;
}
#boxE p{
text-align:center;
}
#container h2{
margin-left:5px;
}
table{
margin-top:70px;
}