@import "node_modules/normalize.css/normalize";
@import "grid";
@import "typography";
@import "media-queries";
@import "header";
@import "contents";
@import "article";
@import "footer";

html{
  font-size: 14px;
}

body{
  font-family: $font-family;
  color: #333;
  background-color: $bg-color;
}

a{
  color: $primary-color;
  &:focus, &:hover{
    color: lighten($primary-color, 5%);
  }
}

img{
  max-width: 100%;
}

#container{
  background-color: #f0f0f0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@import "page/index";