<footer class="footer">
  <div class="row">
    <div class="s-12 text-right footer__copyright">
      Copyright <%= date(new Date(), 'YYYY') %> 2015 GOMA DATA Corporation
    </div>
  </div>
</footer>